@keyframes timerani {
    0% {background-color: rgb(101, 141, 78); width: 500px;}
    100% {background-color: rgb(255, 0, 0); width: 5px;}
}

body{
    background-color: rgb(49, 49, 49);
    color: white;
}

#timer {
    position: absolute;
    right: 10px;
    top: 10px;
    height: 10px;
    animation-name: timerani;
    animation-duration: 10s;
    animation-timing-function: linear;
    background-color: rgb(141, 78, 115)
}
.answers{
    margin: 20px;
    display: grid;
    grid-template-columns: 300px 300px;
    width: 70%;
}
.answer{
    height: max-content min-content;
    width: 200px;
    background-color: rgba(171, 153, 158, 0.314);
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 30px;
}
.answer:hover{
    background-color: rgba(171, 153, 158, 0.641);
}

#app button {
    position: absolute;
    font-size: 50px;
    height: 60px;
    top: 33%;
    left: 38%;
    right: 38%;
    background-color: black;
    color: white;
    cursor: pointer;
}

#app h1 {
    color: white;
    position: absolute;
    left: 40%;
    right: 38%;
}

#app button:hover{
    background-color: rgb(50, 50, 50);
    box-shadow: inset 0 0 5px 5px rgb(19, 20, 19);

}
#app div {
    font-size: 30px;
    margin: 15px;

}

.question{
    font-size: 40px;
}

#loading {
    display: block;
    font-size: 50px;
    height: 100px;
}