body{
	background-color: aliceblue;
	margin: 0;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topbar{
	display: grid;
	align-items: center;
	grid-template-columns: auto max-content max-content;
	height: 70px;
	border-bottom: 2px black solid;
}

.topbar span{
	margin: 10px;
	cursor: pointer;
	
}

#user-icon{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	border: 2px black solid;
	border-radius: 50%;
}

#user-icon img{
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
}

#grid-main{
	display: grid;
	grid-template-columns: 35% auto;
}

ul{
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 10px;
	font-size: 20px;
}

ul li {
	cursor: pointer;
}

#feed{
	width: 100%;
	display: flex;
	flex-direction: column;
	/* justify-content: center;
	align-items: center; */
}

#feed p span{
	cursor: pointer;
	color: rgb(255, 110, 132);
}

.post{
	display: flex;
	flex-direction: column;
	margin-top: 30px;
	background-color: lavender;
	width: 40%;
	padding: 10px;
	border: 3px white solid;
	border-radius: 30px;
	box-shadow: 15px 15px rgba(0, 0, 0, 0.3); 
	word-wrap: break-word;
}
.post-pic{
	border-radius: 10px;
	border: rgb(212, 192, 255) 5px solid;
}
.post-top{
	font-size: 17px;
	display: grid;
	grid-template-columns: auto max-content;
	padding: 5px;
}

.post-top span:first-child{
	cursor: pointer;
}
.post-time{
	display: flex;
	flex-direction: row;
	align-self: flex-end;
}
.post-body{
	font-size: 30px;
}

.post-bot{
	align-self: self-end;
}

#add-post, #edit-profile{
	position: absolute;
	top: 0;
	background-color: rgba(0, 0, 0, 0.08);
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

#add-post div, #edit-profile div{
	display: flex;
	flex-direction: column;
	background-color: rgb(201, 212, 227);
	border: rgb(120, 107, 122) 2px solid;
	width: 400px;
	border-radius: 10px;
	height: 600px;
}

#edit-profile div{
	height: max-content;
}

#add-post textarea{
	width: 80%;
	height: 300px;
	align-self: center;
	margin: 50px 0;
	resize: none;
	padding: 20px;
	border: rgba(133, 113, 175, 0.548) 5px solid;
}

button{
	font-size: 30px;
	background-color: aliceblue;
	border-radius: 30px;
	cursor: pointer;
	padding: 5px;
}

#add-post button{
	width: 150px;
	align-self: center;
	margin-top: 20px;
   position: relative;
}

.close{
	cursor: pointer;
	position: relative;
	left: 93%;
	width: 4%;
	height: 20px;
	top: 10px;
}
label {
	padding-left: 20px;
}
#picture{
	height: 20px;
	margin-top: 5px;
	padding-left: 20px;
}

.create-login{
	color: rgb(255, 110, 132);
	cursor: pointer;
}

.login-signup-page{
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 30px;
}
.login-signup-page input{
	width: 300px;
	font-size: 30px;
	margin-top: 10px;
	border-radius: 10px;
	padding: 5px;
}

.login-signup-page div{
	margin-top: 100px;
}

.login-signup-page button{
	margin-top: 20px;
}

.login-signup-title{
	text-align: center;
	width: 300px;
	border: 5px pink solid;
	border-radius: 10px;
}

.message{
	margin: 0;
	padding: 0;
	color: red;
	font-size: 20px;
}

#add-post .message{
	position: absolute;
	margin: 40px 20px;
	font-size: 15px;
}

.friend{
	width: 200px;
	height: 60px;
	border: 3px pink solid;
	border-radius: 25px;
	font-size: 25px;
	display: grid;
	grid-template-columns: 60px auto;
	text-align: center;
	align-items: center;
	padding: 5px;
	cursor: pointer;
	background-color: rgba(255, 255, 255, 0.684);
}

.friend img{
	max-height: 100%!important;
	max-width: 100%!important;
	border-radius: 25px;
	margin: 0!important;
	border: 3px rgb(187, 146, 160) solid !important;

}

.profile-left{
	display: flex;
	flex-direction: column;
}

.profile-left img{
	max-width: min(70%, 300px);
	align-self: center;
	margin: 50px 0;
	border: 5px rgb(187, 146, 160) solid;
	border-radius: 30px;
}

.profile-view{
	display: grid;
	grid-template-columns: 40% auto;
}

.profile-view button{
	max-width: 70%;
	align-self: center;
}

.profile-username{
	font-size: 30px;
	position: relative;
	align-self: center;
	top: -20px
}

.friendbox{
	margin: 50px;
}
.friendbox label{
	font-size: 25px;
}

#profile-picture{
	display: none;
}

#edit-profile label{
	height: 55px;
	text-align: center;
	justify-content: center;
	align-self: center;
	cursor: pointer;
	font-size: 25px;
	width: 70%;
	background-color: aliceblue;
	border-radius: 30px;
	border: 1px black solid;
	margin: 50px 0;
}

#edit-profile input{
	width: 70%;
	margin-top: 20px;
	align-self: center;
	font-size: 30px;
}
#edit-profile span:last-of-type{
	margin: 20px 0 0 60px;
}